html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.wraper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.content {
    padding: 10px;
    border: 1px solid grey;
    width: 35%;
    display: flex;
    flex-direction: column;
}

a {
    padding: 20px 0px 20px 0px;
    display: block;
    width: 100%;
    text-decoration: none;
    color: coral;
    border-bottom: 1px solid grey;
}

.home img {
    float: right;
}


}
ul {
    position: relative;
    width: 100%;
}
ul li img {
    padding-top: 10px;
    padding-right: 10px;
}
ul li {
    position: relative;
    width: 70%;
}
.qest{
    cursor: pointer;
    position: absolute;
    left: 102%
}
span {
    padding-left: 10px;
}
.span {
    padding-top: 10px;
    float: right;
}
.yellow {
    border-bottom: 2px solid coral;
}
.yellow img{
    float: right;
}
.komnata {
    display: flex;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}
.block2>.left li {
    padding: 10px 0px 5px 0px;
}
h3 {
    font-size: 1.2em;
    padding: 10px 0px 20px 0px;
}
.last {
    border: none;
}
.inf {
    width: 60%;
    line-height: 1.6em;
    color: darkturquoise;
    font-size: 1em;
    border: none;
    font-weight: 300;
}